USE [ambc]
GO
/****** Object:  View [dbo].[QViewLimitsUseByPeriod]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[QViewLimitsUseByPeriod]
AS
SELECT ContrName, HolderNum, HolderName, HolderMiddle, 
    HolderLast, SUM(LimitUse) AS LimitUse
FROM dbo.QViewLimitsUseByPeriodDetail
GROUP BY ContrName, HolderNum, HolderName, HolderMiddle, 
    HolderLast
GO
