USE [ambc]
GO
/****** Object:  Table [dbo].[DietGoods]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietGoods](
	[DietGoodsID] [int] IDENTITY(1,1) NOT NULL,
	[DietID] [int] NOT NULL,
	[GoodsID] [int] NOT NULL,
 CONSTRAINT [PK_DietGoods] PRIMARY KEY NONCLUSTERED 
(
	[DietGoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DietGoods]  WITH CHECK ADD  CONSTRAINT [FK_DietGoods_Diets] FOREIGN KEY([DietID])
REFERENCES [dbo].[Diets] ([DietID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DietGoods] CHECK CONSTRAINT [FK_DietGoods_Diets]
GO
