USE [ambc]
GO
/****** Object:  Table [dbo].[tblMinCount]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMinCount](
	[GoodsID] [bigint] NOT NULL,
	[MinCount] [real] NOT NULL,
 CONSTRAINT [PK_tblMinCount] PRIMARY KEY CLUSTERED 
(
	[GoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMinCount] ADD  CONSTRAINT [DF_tblMinCount_MinCount]  DEFAULT ((0)) FOR [MinCount]
GO
