USE [ambc]
GO
/****** Object:  Table [dbo].[tblCurrency]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCurrency](
	[CurrID] [int] IDENTITY(1,1) NOT NULL,
	[Currency] [nchar](3) NOT NULL,
	[Coeff] [real] NOT NULL,
 CONSTRAINT [PK_tblCurrency] PRIMARY KEY CLUSTERED 
(
	[CurrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
