USE [ambc]
GO
/****** Object:  Table [dbo].[Calories]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calories](
	[CaloriesID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NULL,
	[Calories] [real] NULL,
	[Belt] [real] NULL,
	[Vagl] [real] NULL,
	[Mazn] [real] NULL,
	[Weight] [real] NULL,
 CONSTRAINT [PK_Calories] PRIMARY KEY NONCLUSTERED 
(
	[CaloriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
