USE [ambc]
GO
/****** Object:  Table [dbo].[VAT_DECLAR]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAT_DECLAR](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[INDS] [nvarchar](15) NOT NULL,
	[ContrName] [nvarchar](50) NOT NULL,
	[TaxPeriod] [nchar](6) NOT NULL,
	[TaxPerson] [nvarchar](50) NULL,
	[Prodagbi] [int] NOT NULL,
	[Pokupki] [int] NOT NULL,
	[DOSum] [float] NOT NULL,
	[VATSum] [float] NOT NULL,
	[DO20] [float] NOT NULL,
	[VAT20] [float] NOT NULL,
	[DOVOP] [float] NOT NULL,
	[VATVOP] [float] NOT NULL,
	[VAT20Other] [float] NOT NULL,
	[DO7] [float] NOT NULL,
	[VAT7] [float] NOT NULL,
	[DO0] [float] NOT NULL,
	[DO0VOD] [float] NOT NULL,
	[DO140] [float] NOT NULL,
	[DO21] [float] NOT NULL,
	[DO69] [float] NOT NULL,
	[DOVOPFREE] [float] NOT NULL,
	[DONOVAT] [float] NOT NULL,
	[DOFULLVAT] [float] NOT NULL,
	[VATFULL] [float] NOT NULL,
	[DOPART] [float] NOT NULL,
	[VATPART] [float] NOT NULL,
	[YEARCORR] [float] NOT NULL,
	[Coeff] [float] NOT NULL,
	[TaxCredet] [float] NOT NULL,
	[VATtopay] [float] NOT NULL,
	[VATtoget] [float] NOT NULL,
	[VATToPay92] [float] NOT NULL,
	[VATEFECT] [float] NOT NULL,
	[VAT45DAY] [float] NOT NULL,
	[VAT30DAYAL3] [float] NOT NULL,
	[VAT30DAYAL4] [float] NOT NULL,
 CONSTRAINT [PK_VAT_DECLAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_Table_1_Sells]  DEFAULT ((0)) FOR [Prodagbi]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_Pokupki]  DEFAULT ((0)) FOR [Pokupki]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DOVAT]  DEFAULT ((0)) FOR [DOSum]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT]  DEFAULT ((0)) FOR [VATSum]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO20]  DEFAULT ((0)) FOR [DO20]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT20]  DEFAULT ((0)) FOR [VAT20]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DOVOP]  DEFAULT ((0)) FOR [DOVOP]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATVOP]  DEFAULT ((0)) FOR [VATVOP]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT20Other]  DEFAULT ((0)) FOR [VAT20Other]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO7]  DEFAULT ((0)) FOR [DO7]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT7]  DEFAULT ((0)) FOR [VAT7]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO0]  DEFAULT ((0)) FOR [DO0]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO0VOD]  DEFAULT ((0)) FOR [DO0VOD]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO140]  DEFAULT ((0)) FOR [DO140]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO21]  DEFAULT ((0)) FOR [DO21]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DO69]  DEFAULT ((0)) FOR [DO69]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DOVOPFREE]  DEFAULT ((0)) FOR [DOVOPFREE]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DONOVAT]  DEFAULT ((0)) FOR [DONOVAT]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DOFULLVAT]  DEFAULT ((0)) FOR [DOFULLVAT]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATFULL]  DEFAULT ((0)) FOR [VATFULL]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_DOPART]  DEFAULT ((0)) FOR [DOPART]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATPART]  DEFAULT ((0)) FOR [VATPART]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_YEARCORR]  DEFAULT ((0)) FOR [YEARCORR]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_Coeff]  DEFAULT ((0)) FOR [Coeff]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_TaxCredet]  DEFAULT ((0)) FOR [TaxCredet]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATIN]  DEFAULT ((0)) FOR [VATtopay]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATtoget]  DEFAULT ((0)) FOR [VATtoget]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATToPay92]  DEFAULT ((0)) FOR [VATToPay92]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VATEFECT]  DEFAULT ((0)) FOR [VATEFECT]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT45DAY]  DEFAULT ((0)) FOR [VAT45DAY]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT30DAY]  DEFAULT ((0)) FOR [VAT30DAYAL3]
GO
ALTER TABLE [dbo].[VAT_DECLAR] ADD  CONSTRAINT [DF_VAT_DECLAR_VAT30DAYAL4]  DEFAULT ((0)) FOR [VAT30DAYAL4]
GO
