USE [ambc]
GO
/****** Object:  Table [dbo].[tblDietPrice]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDietPrice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DietID] [int] NOT NULL,
	[ContrID] [int] NOT NULL,
	[Price] [real] NOT NULL,
 CONSTRAINT [PK_tblDietPrice] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDietPrice] ADD  CONSTRAINT [DF_tblDietPrice_Price]  DEFAULT ((0)) FOR [Price]
GO
