USE [ambc]
GO
/****** Object:  Table [dbo].[taxGoods]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxGoods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NOT NULL,
	[Number] [smallint] NULL,
	[Purpose] [nchar](2) NULL,
	[Name] [nvarchar](60) NULL,
	[CNCode] [nchar](9) NULL,
	[ExtraCode] [nvarchar](50) NULL,
	[Measure] [nchar](3) NULL,
	[BringOUTQuantity] [float] NULL,
	[AlcoholVol] [float] NULL,
	[SpecificExcise] [float] NULL,
	[StartQuantity] [float] NULL,
	[TaxBase] [float] NULL,
	[ExciseRate] [float] NULL,
	[PaymentType] [nchar](2) NULL,
	[PaidExcise] [float] NULL,
	[EndQuantity] [float] NULL,
	[TransportLosses] [float] NULL,
	[StorageLosses] [float] NULL,
 CONSTRAINT [PK_taxGoods_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
