USE [ambc]
GO
/****** Object:  Table [dbo].[GoodsTaxes]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsTaxes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NOT NULL,
	[TaxID] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_GoodsTaxes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GoodsTaxes] ADD  CONSTRAINT [DF_GoodsTaxes_Active]  DEFAULT ((1)) FOR [Active]
GO
