USE [ambc]
GO
/****** Object:  StoredProcedure [dbo].[RECALC_PRICES]    Script Date: 25.7.2024 20:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECALC_PRICES]
AS
BEGIN
	SET NOCOUNT ON;
DECLARE @GID INT
DECLARE @PRICE FLOAT
DECLARE @QUANTITY FLOAT

DECLARE GOOD CURSOR FOR SELECT GOODSID FROM WAREHOUSEOUT
GROUP BY GOODSID

OPEN GOOD
FETCH NEXT FROM GOOD INTO @GID
WHILE @@FETCH_STATUS = 0
BEGIN

DECLARE WIN CURSOR FOR SELECT SUM(ISNULL(SALDODOC,0)), SUM(ISNULL(SALDODOCPRICE,0))
FROM SALDO
WHERE GOODSID = @GID
OPEN WIN
FETCH NEXT FROM WIN INTO @QUANTITY, @PRICE
WHILE @@FETCH_STATUS=0
BEGIN
SELECT @QUANTITY=@QUANTITY+ISNULL((SELECT SUM(ISNULL(QUANTITYDOC,0)) FROM WAREHOUSEIN WHERE GOODSID = @GID),0)
SELECT @PRICE = @PRICE+ISNULL((SELECT SUM(ISNULL(QUANTITYDOC,0)*ISNULL(INPRICE,0)) FROM WAREHOUSEIN WHERE GOODSID = @GID),0)
UPDATE WAREHOUSEOUT SET OUTPRICE = @PRICE/@QUANTITY WHERE GOODSID = @GID
UPDATE GOODS SET PRICE = @PRICE/@QUANTITY WHERE GOODSID = @GID
FETCH NEXT FROM WIN INTO @QUANTITY, @PRICE
END
CLOSE WIN
DEALLOCATE WIN

FETCH NEXT FROM GOOD INTO @GID
END
CLOSE GOOD
DEALLOCATE GOOD


END
GO
