USE [ambc]
GO
/****** Object:  Table [dbo].[tblProgType]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProgType](
	[ProgID] [int] IDENTITY(1,1) NOT NULL,
	[ProgType] [nvarchar](50) NULL,
	[ProgSuffix] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblProgType] PRIMARY KEY NONCLUSTERED 
(
	[ProgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
