USE [ambc]
GO
/****** Object:  Table [dbo].[PlusMinus]    Script Date: 25.7.2024 20:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlusMinus](
	[PlusMinusDocID] [int] NOT NULL
) ON [PRIMARY]
GO
